body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0 12px;
  margin: 20px;
}

th, td {
  border: 2px solid #8a0909;
  padding: 11px;
}

tbody tr:nth-child(2n) {
  background-color: #8a8787;
}

th {
  background-color: #050505;
  color: #ffffff;
}

.titulo {
  color: #050505;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 56px;
}

.barraPesquisa {
  display: flex;
  align-items: center;

}

.pesquisaEntrada {
  flex: 1;
  margin-right: 10px;
  height: 30px;
  font-size: 16px;
}

.botaoPesquisa {
  width: 70px;
  height: 30px;
  font-size: 16px;

}
@media only screen and (max-width: 1200px) {
  .titulo {
    font-size: 48px;
  }
}

@media only screen and (max-width: 992px) {
  .titulo {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 32px;
  }
  .barraPesquisa {
    flex-direction: column;
  }
  .pesquisaEntrada, .botaoPesquisa {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .titulo {
    font-size: 24px;
  }
}





